<!DOCTYPE html>
<html lang="en">

@RenderPage("_HeadMenu.cshtml")

@{
    var isAdmin = Session["IsAdmin"] != null && (bool)Session["IsAdmin"];
    var roleLabel = isAdmin ? "Admin" : "User";
    var roleClass = isAdmin ? "bg-ocean-80" : "bg-engineering-light";
}

<body class="g-sidenav-show" style="background-color: #F7F7F7">
    <div class="position-absolute w-100 min-height-100" style="background-color: #0A8276"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 fixed-start" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand pt-3 pb-0 m-0 d-flex flex-column gap-2 align-items-center" href="~/Home/Index">
                <img src="~/assets/img/infineon-logo.svg" class="navbar-brand-img" alt="main_logo">
                <span class="text-lg font-weight-bold bg-">PAM E-Catalog</span>
            </a>
        </div>
        <div class="d-flex flex-column gap-2 align-items-center" href="~/Home/Index">
            <span class="badge @roleClass bg-opacity-100 my-3">@roleLabel</span>
        </div>
        <hr class="horizontal dark mt-0">
        @RenderPage("_LeftMenu.cshtml")
    </aside>
    @RenderBody()

    <!--   CORE JS FILES   -->
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script src="~/assets/js/argon-dashboard.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                lengthMenu: [[5, 10, 20, 40, 80, -1], [5, 10, 20, 40, 80, "All"]],
                pageLength: 20 // default yang terpilih
            });
            $('#myTable').wrap('<div class="table-responsive"></div>');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>