@model IEnumerable<ItemListApp.Models.Products>

@{
    ViewBag.Title = "Product By Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative border-radius-lg max-height-vh-100 h-100">
    <!-- NAVBAR START -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 shadow-none" id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-2 py-sm-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-none d-sm-flex bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-white"><a class="text-white">Home</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page">Product By Category - @(Model.FirstOrDefault().Category.Category_name)</li>
                </ol>
                <h6 class="fw-bolder text-white mb-0 pe-3 pe-sm-0">Home</h6>
            </nav>
            <div class="collapse navbar-collapse me-md-0" id="navbar">
                <div class="ms-auto d-flex flex-column align-items-end">
                    <span class="d-inline text-white">Hello, @User.Identity.Name</span>
                    <a class="d-flex align-items-center justify-content-center gap-2 m-0 letter-normal fw-normal fs-6 text-white btn btn-link btn-outline-secondary shadow-none p-0" href="https://confluencewikiprod.intra.infineon.com/display/5SInternalAudit/E-Catalog+PAM" target="_blank">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                        <span class="d-inline">E-Catalog Accessories Tutorial</span>
                    </a>
                </div>
                <div class="nav-item d-xl-none ps-3 d-flex align-items-end">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->
    <!-- CONTENT START -->
    <div class="container-fluid py-5">
        <!-- NAVIGATION START -->
        <div class="row pt-4 pt-sm-0">
            <div class="col-lg-12 mb-lg-0 mb-4">
                <div class="card p-2 border-radius-lg">
                    <div class="card-body py-2 px-4">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a href="@Url.Action("Subcategories", "Home", new { categoryId = Model.First().Category.Category_Hierarchy_id })" class="text-primary fw-bold text-sm">
                                    <i class="fa-solid fa-arrow-left fa-sm"></i>
                                    <span class="nav-link-text text-lg ms-1">Back</span>
                                </a>
                            </div>
                            <div class="col-auto">
                                <h4 class="mb-0 fw-bolder">
                                    Product List of @(Model.FirstOrDefault().Category.Category_name)
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NAVIGATION END -->
        <!-- TABLE START -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="card mb-4 border-radius-lg">
                    <div class="card-header pb-0">
                        <h5>Product List</h5>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <table id="myTable" class="table table-bordered display cell-border compact">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-md text-center align-content-center no-export">Detail Data</th>
                                    <th class="text-uppercase text-md text-center align-content-center no-export">Photo</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Category</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Accessory Name</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Owner</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Vendor</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Last Update</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Function</th>
                                    <th class="text-uppercase text-md text-center align-content-center">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-sm text-center align-content-center p-2">
                                            <a href="@Url.Action("View", "Home", new { id = item.Product_id })" class="btn btn-success m-0">Detail</a>
                                        </td>
                                        <td class="text-sm text-center align-content-center p-2">
                                            @if (!string.IsNullOrEmpty(item.Product_photo_filepath))
                                            {
                                                <a href="@Url.Content(item.Product_photo_filepath)" target="_blank">
                                                    <img src="@Url.Content(item.Product_photo_filepath)" class="max-width-100 height-100 cursor-pointer" alt="Product Photo" />
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="bg-ocean-100 bg-opacity-100 text-white p-3 text-center align-content-center height-100">Photo</div>
                                            }
                                        </td>
                                        <td class="text-sm text-center align-content-center">@Html.DisplayFor(modelItem => item.Category.Category_name)</td>
                                        <td class="text-sm text-center align-content-center">@Html.DisplayFor(modelItem => item.Product_accessories_name)</td>
                                        <td class="text-sm text-center align-content-center">@Html.DisplayFor(modelItem => item.Product_owner)</td>
                                        <td class="text-sm text-center align-content-center">@((item.Product_vendor_name != null && !string.IsNullOrEmpty(item.Product_vendor_name)) ? item.Product_vendor_name : "(Will be updated)")</td>
                                        <td class="text-sm text-center align-content-center">@Html.DisplayFor(modelItem => item.Product_last_modification)</td>
                                        <td class="text-sm text-center align-content-center">@((item.Product_function != null && !string.IsNullOrEmpty(item.Product_function)) ? item.Product_function : "(Will be updated)")</td>
                                        <td class="text-sm text-center align-content-center">@((item.Product_remark != null && !string.IsNullOrEmpty(item.Product_remark)) ? item.Product_remark : "(Will be updated)")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE END -->
        <!-- FOOTER START -->
        <footer class="footer pt-3">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-md text-muted text-lg-start">
                            ©
                            <script>document.write(new Date().getFullYear())</script> -
                            <a class="fw-bold">OE Applications</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
    </div>
    <!-- CONTENT END -->
</main>