@model IEnumerable<ItemListApp.Models.Products>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative border-radius-lg max-height-vh-100 h-100">
    <!-- NAVBAR START -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 shadow-none" id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-2 py-sm-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-none d-sm-flex bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6">
                    <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-white"><a class="text-white">Products</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page">Index</li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0 pe-3 pe-sm-0">Products</h6>
            </nav>
            <div class="collapse navbar-collapse me-md-0" id="navbar">
                <div class="ms-auto d-flex align-items-center">
                    <span class="d-inline text-white">Hello, @User.Identity.Name</span>
                </div>
                <div class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->
    <!-- CONTENT START -->
    <div class="container-fluid py-5">
        <!-- TABLE START -->
        <div class="row pt-4 pt-sm-0">
            <div class="col-12">
                <div class="card mb-4 border-radius-lg">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-start">
                        <h5 class="justify-content-start">Product List</h5>
                        <a href="@Url.Action("Create", "Products")" class="btn bg-berry-light bg-opacity-100 text-white">Add New Product</a>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <table id="myTable" class="table table-bordered display cell-border compact">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-md">Edit</th>
                                    <th class="text-uppercase text-md">Delete</th>
                                    <th class="text-uppercase text-md">Details</th>
                                    <th class="text-uppercase text-md">Photo</th>
                                    <th class="text-uppercase text-md">Category</th>
                                    <th class="text-uppercase text-md">Code Number</th>
                                    <th class="text-uppercase text-md">Accessories Name</th>
                                    <th class="text-uppercase text-md">Quantity</th>
                                    <th class="text-uppercase text-md">Owner</th>
                                    <th class="text-uppercase text-md">Department</th>
                                    <th class="text-uppercase text-md">Drawing</th>
                                    <th class="text-uppercase text-md">ECCN</th>
                                    <th class="text-uppercase text-md">HS Code</th>
                                    <th class="text-uppercase text-md">Vendor Name</th>
                                    <th class="text-uppercase text-md">Quotation</th>
                                    <th class="text-uppercase text-md">Last Modification</th>
                                    <th class="text-uppercase text-md">Function</th>
                                    <th class="text-uppercase text-md">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-sm">
                                            <a href="@Url.Action("Edit", "Products", new { id = item.Product_id })" class="btn bg-ocean-80 bg-opacity-100 text-white">Edit</a>
                                        </td>
                                        <td class="text-sm">
                                            <a href="@Url.Action("Delete", "Products", new { id = item.Product_id })" class="btn bg-ocean-80 bg-opacity-100 text-white">Delete</a>
                                        </td>
                                        <td class="text-sm">
                                            <a href="@Url.Action("View", "Products", new { id = item.Product_id })" class="btn btn-success">Details</a>
                                        </td>
                                        <td class="text-sm-center">
                                            @if (!string.IsNullOrEmpty(item.Product_photo_filepath))
                                            {
                                                <a href="@Url.Content(item.Product_photo_filepath)" target="_blank">
                                                    <img src="@Url.Content(item.Product_photo_filepath)" class="max-width-100 height-100 cursor-pointer" alt="Product Photo" />
                                                </a>
                                            }
                                        </td>
                                        <td class="text-sm-center">@Html.DisplayFor(modelItem => item.Category.Category_name)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_code_number)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_accessories_name)</td>
                                        <td class="text-sm-center">@Html.DisplayFor(modelItem => item.Product_qty)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_owner)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_dept)</td>
                                        <td class="text-sm">
                                            @if (!string.IsNullOrEmpty(item.Product_drawing_filepath))
                                            {
                                                <a class="btn btn-link mb-2 mx-2 p-0 text-sm" href="@Url.Content(item.Product_drawing_filepath)" target="_blank">View Drawing</a>
                                            }
                                        </td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_eccn)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_hs_code)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Vendor.Vendor_name)</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.Product_quotation_filepath))
                                            {
                                                <a class="btn btn-link mb-2 mx-2 p-0 text-sm" href="@Url.Content(item.Product_quotation_filepath)" target="_blank">View Quotation</a>
                                            }
                                        </td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_last_modification)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_function)</td>
                                        <td class="text-sm">@Html.DisplayFor(modelItem => item.Product_remark)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE END -->
        <!-- FOOTER START -->
        <footer class="footer pt-3">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-md text-muted text-lg-start">
                            ©
                            <script>document.write(new Date().getFullYear())</script> -
                            <a class="font-weight-bold">OE Applications</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
    </div>
    <!-- CONTENT END -->
</main>

<script>
    $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    confirmButtonColor: '#2dce89',
                    timer: 5000,
                    timerProgressBar: true,
                    text: '@TempData["SuccessMessage"]'
                });
            </text>
        }
        else if (TempData["ErrorMessage"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops!',
                    confirmButtonColor: '#2dce89',
                    timer: 5000,
                    timerProgressBar: true,
                    text: '@TempData["ErrorMessage"]'
                });
            </text>
        }
    });
</script>