@model ItemListApp.Models.Products

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative border-radius-lg max-height-vh-100 h-100">
    <!-- NAVBAR START -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 shadow-none" id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-2 py-sm-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-none d-sm-flex bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6">
                    <li class="breadcrumb-item text-sm text-white"><a class="opacity-5 text-white">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-white"><a class="text-white">Products</a></li>
                    <li class="breadcrumb-item text-sm text-white"><a class="text-white">View</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page">@Model.Product_accessories_name</li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0 pe-3 pe-sm-0">Products</h6>
            </nav>
            <div class="collapse navbar-collapse me-md-0" id="navbar">
                <div class="ms-auto d-flex align-items-center">
                    <span class="d-inline text-white">Hello, @User.Identity.Name</span>
                </div>
                <div class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->
    <!-- CONTENT START -->
    <div class="container-fluid py-5">
        <!-- PRODUCT DETAILS START -->
        <div class="row justify-content-center pt-4 pt-sm-0">
            <div class="col-md-9 mx-auto">
                <div class="card mb-4 border-radius-lg">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-start">
                        <h5 class="justify-content-start">Product Details</h5>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Close</a>
                    </div>
                    <div class="card-body px-4 pt-4 pb-4">
                        <div class="mb-4">
                            @if (!string.IsNullOrEmpty(Model.Product_photo_filepath))
                            {
                                <a href="@Url.Content(Model.Product_photo_filepath)" target="_blank">
                                    <img src="@Url.Content(Model.Product_photo_filepath)" alt="Product Photo" class="img-fluid max-width-400 max-height-400 cursor-pointer" />
                                </a>
                            }
                            else
                            {
                                <div class="bg-ocean-100 bg-opacity-100 text-white p-5 text-center max-width-400 h-auto">Product Photo</div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-1"><strong>Category:</strong> @Model.Category.Category_name</p>
                                <p class="mb-1"><strong>Accessories Name:</strong> @Model.Product_accessories_name</p>
                                <p class="mb-1"><strong>Vendor:</strong> @(Model.Vendor != null ? Model.Vendor.Vendor_name : "")</p>
                                <p class="mb-1"><strong>ECCN#:</strong> @Model.Product_eccn</p>
                                <p class="mb-1"><strong>HS Code#:</strong> @Model.Product_hs_code</p>
                                <p><strong>Qty:</strong> @Model.Product_qty</p>
                            </div>
                        </div>

                        <p><strong>Last Update:</strong> @(Model.Product_last_modification.HasValue ? Model.Product_last_modification.Value.ToString("yyyy/MM/dd") : "")</p>

                        <div class="row text-center mt-4">
                            <div class="col-md-4">
                                <p><strong>Quotation</strong></p>
                                @if (!string.IsNullOrEmpty(Model.Product_quotation_filepath))
                                {
                                    <a class="btn btn-link custom-btn-link-berry shadow-none p-0" href="@Url.Content(Model.Product_quotation_filepath)" target="_blank">( attachment )</a>
                                }
                            </div>
                            <div class="col-md-4">
                                <p><strong>Drawing</strong></p>
                                @if (!string.IsNullOrEmpty(Model.Product_drawing_filepath))
                                {
                                    <a class="btn btn-link custom-btn-link-berry shadow-none p-0" href="@Url.Content(Model.Product_drawing_filepath)" target="_blank">( attachment )</a>
                                }
                            </div>
                            <div class="col-md-4">
                                <p><strong>Function/Detail</strong></p>
                                @if (!string.IsNullOrEmpty(Model.Product_function))
                                {
                                    <p class="mb-1"> @Model.Product_function</p>
                                }
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <a href="@Url.Action("Index", "Products")" class="btn btn-lg btn-secondary">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRODUCT DETAILS END -->
            <!-- FOOTER START -->
            <footer class="footer pt-3">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-md text-muted text-lg-start">
                                ©
                                <script>document.write(new Date().getFullYear())</script> -
                                <a class="font-weight-bold">OE Applications</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- FOOTER END -->
        </div>
        <!-- CONTENT END -->
    </div>
</main>